section{
  padding: 0 48px;
}

.nr-1,
.nr-2,
.nr-3 {
  padding-left: 48px;
}

.product-checkout img {
width: 4rem;
}

.info-links-checkout {
  font-size: .8rem;
}

label,
input,
fieldset,
select {
  margin-bottom: 5px;
}

form input,
select {
  height: 40px;
  padding: 10px;
}
input:hover {
  border: 2px solid blue;
}

 .btn button {
  background-color: #0058a3;
  color: white;
  border-radius: 30px;
  padding: 15px;
  width: 100%;
  margin-top: 20px;
}

.btn {
  text-align: center;
  width: 100%;
}

.see-info {
  display: none;
}

@media (min-width:900px){
  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20em 70em 10em;
  }

  .cart-section {
    grid-column: 9 / 13;
    position: sticky;
    top: 20px;
  }

  .nr-1 {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .section-1 {
    grid-column: 2 / 9;
    grid-row: 1 ;
  }

  .nr-2 {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .section-2 {
    grid-column: 2 / 9;
  }

  .nr-3 {
    grid-column: 1 / 2;
    grid-row: 3;
  }
  .section-3 {
    grid-column: 2 / 9;
  }

  .product-info-checkout,
  .price-per-product {
    display: none;
  }

  .see-info {
    display: flex;
    font-size: 2.5rem;
  }

  .product-checkout {
    justify-content: space-between;
  }

}


