.accordion-item {
  border: none;
  border-bottom: 1px solid rgb(206, 199, 199) ;
}

.accordion-button {
  padding-left: 0;
  padding-bottom: 30px;
}

.accordion ul > li {
  padding: 12px 0;
}

.accordion ul {
list-style: none;
padding: 0;
}

.accordion a:hover {
  color: black;
  text-decoration: underline;
}

.accordion-button:focus {
 background-color: white;
 box-shadow: none;
}

.accordion-button:enabled{
  background-color: white;
  color: black;
}