
.footer-links ul {
  list-style: none;
  font-size: 0.8rem;
}

.footer-links ul > li {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 0;
}

.footer-links a:hover {
  text-decoration: underline;
}

@media (min-width:900px) {
  .small-container {
    padding: 0 48px;
    display: flex;
    justify-content: space-between;
  }

  .footer-links ul {
    text-align: end;

  }
}