.product {
  padding: 0 48px;
  position: relative;
}
.product .product-img .img-none {
  display: none;
}

.product .product-img img {
  width: 100%;
  margin-bottom: 80px;
}

.product .product-img > span {
  background-color: red;
  color: white;
  padding: 2px 9px;
  position: absolute;
}

.product .rating .review-count:hover {
  text-decoration: underline;
}

.product .container-btn .cart-btn {
  border: 1px solid #0058a3 ;
  background-color:  #0058a3;
  color: #ffffff;
  font-weight: bold;
  padding: 15px;
  border-radius: 30px;
}

.product .container-btn .cart-btn:hover {
  color: white;
  background-color:#024279;
}

.product .container-btn .wish-btn {
  display: none;
}

.product .img-container-1 {
  width: 4rem;
}

.product .img-container-2 {
  width: 2rem;
}

.product .add-product > .add-container img {
 max-width: 100%;
max-width: 100%;
}

.product .add-product .product-name:hover {
  text-decoration: underline;
}


@media (min-width: 900px) {
  .product .product-img .img-none {
    display: inline-block
  }

  .product {
    display: flex;
    gap: 30px;
  }  

  .product .product-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 20px;
  }

  .product .product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

  .product .container-btn {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
   } 
   
   .product .container-btn .cart-btn {
    flex-grow: 1;
   }

   .product .container-btn .wish-btn {
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px 15px;
    margin-bottom: 45px;
   }

   .product .container-btn .wish-btn:hover {
    border: 2px solid black;
   }
}
