.site-header {
  padding: 0 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}


.site-header div:first-child {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.site-header .search-field {
  border-radius: 30px;
  padding: 10px  8px;
  display: flex;
  flex-grow: 1;
  background-color: #f5f5f5;
  margin-left: 30px;
  position: relative;
}

.site-header .search-field .icon-camera {
  position: absolute;
  right: 10px;
}

.site-header input {
  border: transparent;
  background-color: #f5f5f5;
  outline: 0;
  font-size: 1rem;
  width: 80%;
}

.site-header i{
  padding: 2px;
  margin-right: 13px;
}


.site-header .main-icons {
  display: flex;
  gap: 15px;
  margin-left: 16px;
}

.site-header .main-icons span {
  display: none;
}


.site-header > div:first-child img {
  animation: bounce 1s ease 2;
}

@keyframes bounce {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}

@media (min-width: 1200px) {
.site-header .main-icons .bi-list {
  display: none;
}

.site-header .main-icons span {
  display: inline;
}
}